body{
    display: flex;
    display: flex;
    justify-content: center; /* Выравнивание по центру по горизонтали */
    align-items: center; /* Выравнивание по центру по вертикали */
    height: 100vh;
    width: 100vw;
}

.Present--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    justify-content: center;
    margin: auto;
    border-radius: 25px;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}